<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Popular Sports App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/sport' routerLinkActive='true'>Sport</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='/reports' routerLinkActive='true'>Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/leadingsport' routerLinkActive='true'>Leading Sport</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/castvote' routerLinkActive='true'>Cast vote</a>
      </li>
    </ul>
    <div *ngIf="!isUserLoggedIn">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink='/register' routerLinkActive='true'>Register</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink='/login' routerLinkActive='true'>Login</button>
    </div>
    <div *ngIf="isUserLoggedIn">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink='/userrolemanagement' routerLinkActive='true'>User Role Management</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink='/usermanagement' routerLinkActive='true'>{{userName}}</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logOut()">Logout</button>
    </div>
  </div>
</nav>
<div class="mx-5">
    <router-outlet></router-outlet>
</div>

<!--
<app-register></app-register>
<hr>
<app-login></app-login>
<hr>
<app-leadingsport></app-leadingsport>
<hr>
<app-sport></app-sport>-->